<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetroLog" version="1.0.1" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="win81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="win81" />
  <package id="Rg.Plugins.Popup" version="0.0.15" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="win81" />
</packages>